<!DOCTYPE html>
<html>
  <head>
      <title><%= @page_title %></title>
      
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <meta name="keywords" content="<%= @seo_keywords%>">
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>

      <%= stylesheet_link_tag 'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body class="text-center">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

      <%= render 'shared/application_nav' %>

  <main role="main" class="inner cover">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </main>

  <footer class="mastfoot mt-auto">
    <div class="inner">
      <%= source_helper("Application") %>
      <%= copyright_generator %>
    </div>
  </footer>

</body>
</div>
</html>
